grammars/relaton-cc.rnc

include "biblio-standoc.rnc" {

  DocumentType =
    "directive" | "guide" | "specification" | "standard" | "report" | "administrative" | "amendment" | "technical corrigendum" | "advisory"


  editorialgroup = element editorialgroup {
    technical-committee+
  }

  technical-committee = element committee {
    attribute type { text }?,
    text
  }

}

